/* stylelint-disable selector-list-comma-newline-after */
body{
	font-family: 'Montserrat', sans-serif;
}
.blog-header {
  line-height: 1;
  
}
.bg-orange{
	background:#f44336;
}
.blog-header-logo {
 
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}
.wining-number-title {
	color:#000;
}
.winning-num{
	font-family: 'Comic Neue', cursive;
	font-size:30px;
	color:#f44336;
	font-weight:bold;
}
.code-tags{
	
	
}
.code-tags span{
	border: 1px solid red;
    padding: 10px 17px;
    margin: 0 8px 0 8px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
}
.code-tags span sup{
	margin:0 0 0 5px;
	font-size: 12px;
    font-weight: normal;
}
.winning-item-box{
	border:1px solid #ccc;
}
.winning-image{
	
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #fff;
  text-align: center;
  background-color: #f44336;
 
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.social-icons a{
	color:#fff;
	margin:0 10px;
}
.social-icons a:hover{
	color:#ccc;
	margin:0 10px;
}
.btn-outline-primary{
	border:1px solid #fff;
	color:#fff;
}
